.about {
    background: linear-gradient(to right, rgba($bg-color, 0.7), rgba($bg-color, 1));
}

.about__item {
    margin-top: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &:first-child {
        margin-top: 0;
    }
}

.about__number {
    font-family: $font-bgtext;
    font-size: 150px;

    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $element-color;
}

.about__text {
    width: 100%;
    max-width: 700px;
    height: 235px;
    padding: 35px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background: linear-gradient(to left, rgba($bg-color, 0), rgba($bg-color, 1));

    &-reverse {
        background: linear-gradient(to right, rgba($bg-color, 0), rgba($bg-color, 1));

        text-align: right;
    }
    
}