.rules {
    background: rgba($bg-color, 0.7);

    position: relative;
}

.rules__bgtext {
    background-image: linear-gradient(to right, rgba(#fff, 0.1), rgba(#595959, 0.25));
    -webkit-background-image: linear-gradient(to right, rgba(#fff, 0.1), rgba(#595959, 0.25)); 
}

.rules__string {
    &-1 {
        top: 50px;
    }

    &-2 {
        top: 230px;
    }

    &-3 {
        top: 400px;
    }
}

.rules__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    position: relative;
    z-index: 3;
}

.rules__item {
    width: 300px;
    min-height: 450px;

    border: 2px solid $element-color;
    background: radial-gradient(rgba($bg-color, 0.8), rgba($bg-color, 0));

    text-align: center;
}

.rules__title {
    padding: 50px 0;
}

.rules__line {
    width: 200px;
    height: 2px;
    margin: 0 auto;

    background-color: $element-color;
}

.rules__text {
    font-size: 1.2rem;
    padding: 40px 10px;
}

@media (max-width: 1191px) {
    .rules__container {
        justify-content: center;
    }

    .rules__item {
        margin: 15px;
    }
}

@media (max-width: 760px) {

    .rules__string {
        &-1 {
            top: 150px;
        }
    
        &-2 {
            top: 630px;
        }
    
        &-3 {
            top: 1110px;
        }
    }
}